@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe|Roboto&display=swap');

@font-face {
    font-family: Santio;
    font-weight: bold;
    src: url(../fonts/Santio\ Bold.ttf);

}

body{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/cleo-topper.jpg);
    background-repeat: repeat-x repeat-y;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: Santio;
    font-weight: 500;
}

.action img{
    width: 3em;
    height: 3em;
    position: absolute;
    right: 5.5em;
    top: 0;
}

.action{
    position: absolute;
    right: 7em;
}

main{
    background-image: url(../img/cleo-topper.jpg);
    background-attachment: fixed;
    background-repeat: repeat-x repeat-y;
    background-size: cover;
    width: 100vw;

}

h1{
    color: white;
    position: absolute;
    top: 1.2em;
    font-size: 55px;
    margin: 3em;
    line-height: .5em;
}

h1 p{
    padding: 0;
    margin: 0.5em;
}

#scroll{
    font-family: Mr Dafoe;
    color: #e7bc0e;
    font-size: .5em;
    position: relative;
    top: 1.2em;
    margin: 1em;
}

#scroll img{
    width: 40px;
    height: 40px;

}

.parallax {
    background-position: absolute;
    top: auto;
    width: 100vw;
    background-size: cover;
}

.parallax img {
    width: 100vw;
    height: 100vh;
    position: relative;
    bottom: auto;
}

.intro{
    font-family: Santio;
    font-size: 25px;
    width: 30%;
    position: relative; 
    left: 15%;
    color: #6bc1a3;
    line-height: 1.5em;
}

.millions{
    font-family: Santio;
    color: #e7bc0e;
    position: relative;
    left: 30%;
    padding-top: 20em;
}

.millions h1{
    color: #e7bc0e;
    position: relative;
    left:30%;
    transform: translateX(-30%);
    margin: 0;
    letter-spacing: .1em;
}
.millions p {
    padding-top: 4em;
    position: relative;
    left: 30%;
    transform: translateX(-30%);
    letter-spacing: .05em;
}

.millions img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 3em;
}

.payment img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 3em;
}

.payment{
    font-family: Santio;
    color: #cb91b6;
    position: relative;
    left: 30%;
    padding-top: 20em;
}

.payment p {
    padding-top: 3.5em;
    position: relative;
    left: 30%;
    transform: translateX(-30%);
    margin: 0em;
    letter-spacing: .05em;
}

.payment h1{
    color: #cb91b6;
    position: relative;
    left: 30%;
    top: .5em;
    transform: translateX(-30%);
    margin: 0em;
    letter-spacing: .1em;
}

.health img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 3em;
}

.health h1{
    color: #6bc1a3;
    position: relative;
    left: 30%;
    top: 1.em;
    transform: translateX(-30%);
    margin: 0em;
    letter-spacing: .1em;
}

.health{
    font-family: Santio;
    color: #6bc1a3;
    position: relative;
    left: 30%;
    padding-top: 20em;
}

.health p {
    position: relative;
    left: 30%;
    top: .6em;
    transform: translateX(-30%);
    margin: 0em;
    letter-spacing: .05em;
    padding-top: 4em;
}

.endtext {
    font-family: Santio;
    font-size: 25px;
    width: 30%;
    color: #7eb8e1;
    position: relative; 
    left: 35%;
    line-height: 1.5em;
    padding-top: 4em;

}

footer{
    background-color: black;
    color: white;
    font-family: Santio;
    font-weight: 500;
    height: 100vh;

}
.last p{
    margin: 0em;
    font-size: 55px;
    position: relative;
    left: 3em;
    top: 2em;
    bottom: 2em;
}


#button{
    border: 1px solid white;
    font-size: 200%;
    padding: .3em;
    margin: 2em;
    width: 7%;
    border-radius: 10px;
    padding-bottom: .1em;
}

#button:hover {
    background-color: yellow;

}

#link {
    font-size: 12pt;
    position: relative;
    left: 38%;
    top: 25em;
    bottom: 0em;
    
}
